html {
    box-sizing: border-box;
    scroll-padding-top: 80px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --accent-gold: #F8BF7A;
    --accent-darkgold: #DE9641;
    --background: #180A01;
    --cream: #ECE7E3;
    --background-int: #DBB78B;
    --text-color: #FFFF;
    --coffee: #593721;

    --fs--1: clamp(0.8333rem, 0.7754rem + 0.2377vw, 1rem);
    --fs-0: clamp(1rem, 0.9131rem + 0.3565vw, 1.25rem);
    --fs-1: clamp(1.2rem, 1.074rem + 0.5169vw, 1.5625rem);
    --fs-2: clamp(1.44rem, 1.2616rem + 0.7317vw, 1.9531rem);
    --fs-3: clamp(1.728rem, 1.48rem + 1.0173vw, 2.4414rem);
    --fs-4: clamp(2.0736rem, 1.7336rem + 1.3949vw, 3.0518rem);
    --fs-5: clamp(2.4883rem, 2.0273rem + 1.8914vw, 3.8147rem);
    --fs-6: clamp(2.986rem, 2.3664rem + 2.5417vw, 4.7684rem);

    --s-3xs: clamp(0.25rem, 0.2283rem + 0.0891vw, 0.3125rem);
    --s-2xs: clamp(0.5rem, 0.4566rem + 0.1783vw, 0.625rem);
    --s-xs: clamp(0.75rem, 0.6848rem + 0.2674vw, 0.9375rem);
    --s-s: clamp(1rem, 0.9131rem + 0.3565vw, 1.25rem);
    --s-m: clamp(1.25rem, 1.1414rem + 0.4456vw, 1.5625rem);
    --s-l: clamp(1.75rem, 1.5979rem + 0.6239vw, 2.1875rem);
    --s-xl: clamp(2.3125rem, 2.117rem + 0.8021vw, 2.875rem);
    --s-2xl: clamp(3rem, 2.7393rem + 1.0695vw, 3.75rem);
    --s-3xl: clamp(4rem, 3.6524rem + 1.426vw, 5rem);
    --s-4xl: clamp(5rem, 4.5655rem + 1.7825vw, 6.25rem);
    --s-5xl: clamp(10rem, 9.131rem + 3.5651vw, 12.5rem);
    --s-6xl: clamp(17rem, 15.5227rem + 6.0606vw, 21.25rem);

    --letter-s: 0.1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    max-width: 90rem;
    margin: auto;
    background-color: var(--background);
    color: var(--text-color);
    font-size: var(--fs-0);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: var(--s-m) 0;
}

header,
section,
footer {
    padding: 0 var(--s-m);
}

p,
li {
    line-height: 140%;
}

p {
    padding-bottom: var(--s-s);
}

h1 {
    font-size: var(--fs-6);
}

h1,
.the,
.antwerp {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--accent-darkgold);
}

h2,
h3,
.highlight__name,
.special__strong,
.officiana__text {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: var(--letter-s);
}

h2 {
    font-size: var(--fs-5);
    line-height: 130%;
    text-align: center;
}

h3 {
    font-size: var(--fs-4);
    text-align: center;
    color: var(--accent-darkgold);
}

strong {
    color: var(--accent-gold);
}

.highlight__name,
.special__strong {
    font-size: var(--fs-3);
    text-align: center;
}

.the {
    font-size: var(--fs-2);
}

.cta__text {
    font-weight: 300;
}

.header {
    text-align: center;
    padding-top: var(--s-m);
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.cta {
    display: block;
    margin: 0 auto;
    animation: moveDown 2s ease-in-out infinite;
}

.introduction {
    padding: var(--s-2xl) var(--s-m);
}

.intro {
    padding-top: var(--s-s);
    padding-bottom: var(--s-xl);
}

.gold {
    color: var(--accent-darkgold);
}

li {
    padding: var(--s-3xs);
}

.about {
    padding-bottom: var(--s-m);
}

.about__item {
    display: flex;
    align-items: start;
}

a {
    color: var(--text-color);
    font-size: var(--fs-0);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.centered {
    text-align: center;
}

.narrow {
    padding-left: var(--s-xl);
    padding-right: var(--s-xl);
}

.narrow__left {
    padding-right: var(--s-4xl);
}

.narrower {
    padding-left: var(--s-5xl);
}

.name {
    padding-top: var(--s-s);
    padding-bottom: var(--s-s);
}

.special__strong {
    line-height: 2rem;
}

.right__text {
    padding-left: var(--s-5xl);
}

.born {
    padding: var(--s-xl);
    padding-bottom: 0;
}

.born p {
    padding: var(--s-3xs) 0;
}

.antwerp__based {
    position: relative;
}

.map {
    position: absolute;
    left: 20%;
    bottom: -10%;
    z-index: -1;
}

.antwerp {
    letter-spacing: var(--letter-s);
    font-size: var(--fs-6);
    color: var(--text-color);
    text-align: center;
    padding-top: var(--s-3xl);
    padding-left: var(--s-m);
    padding-bottom: var(--s-4xl);
}

.about__text {
    padding-top: var(--s-5xl);
}

.officiana {
    padding-top: var(--s-l);
    position: relative;
    display: flex;
    justify-content: end;
}

.officiana__text {
    font-size: var(--fs-3);
    position: absolute;
    bottom: 20%
}

.about__oficina {
    position: absolute;
    bottom: 5%;
    left: 0;
    padding-right: var(--s-4xl);
}

.house__image {
    position: absolute;
    bottom: 30%;
    left: 65%;
}

.interaction {
    background-color: var(--background-int);
    padding: var(--s-m) var(--s-m) var(--s-4xl) var(--s-m);
    position: relative;
}

.interaction__title {
    color: var(--background);
    font-weight: 600;
    font-size: var(--fs-1);
    text-align: center;
    padding: var(--s-xl);
}

.hint__button {
    text-align: center;
    font-family: "Cinzel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: var(--fs-1);
    padding: var(--s-m) var(--s-3xs);
    border-radius: 5rem;
    letter-spacing: var(--letter-s);
    border: 1px solid var(--accent-gold);
    background-color: var(--coffee);
    color: var(--cream);
    outline: 1px solid var(--coffee);
    outline-offset: 1px;
    margin-top: -1rem;
}

.hint {
    color: var(--background);
    font-size: var(--fs-0);
    margin: var(--s-2xs);
    margin-top: -0.9rem;
    border-radius: 0 1rem 1rem 1rem;
    border: 1px solid var(--cream);
    padding: var(--s-xs) var(--s-s);
    text-align: center;
    background-color: var(--coffee);
    color: var(--cream)
}

.instructions {
    color: var(--background);
    text-align: center;
    padding: 0 var(--s-m);
}


.book__choices {
    padding-top: var(--s-xl);
    display: flex;
    justify-content: space-around;

}

.quality {
    padding: var(--s-xl) var(--s-m);
    margin: 0 var(--s-2xs);
    border-left: 0.5px solid var(--cream);
    border-right: 0.5px solid var(--cream);
    border-top: none;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}

.quality h2 {
    text-align: center;
    padding: var(--s-s);
}

.quality picture {
    position: absolute;
    rotate: 30deg;
    left: -40%;
    top: 28%;
}

.careful__process {
    padding-top: var(--s-xl);
    padding-bottom: var(--s-4xl);
}

.half__line {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 1px;
    border-top: 1px solid var(--accent-darkgold);
    margin-top: var(--s-m);
}

.half__line__right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 1px;
    border-top: 1px solid var(--accent-darkgold);
    margin-top: var(--s-m);
}

.reputation__text {
    font-size: var(--fs-1);
    padding-top: var(--s-xl);
    padding-bottom: var(--s-s);
}

.no__padding {
    padding: 0;
}

.reputation>p:last-child {
    padding-right: var(--s-l);
    padding-top: var()
}

.high__standards {
    padding: var(--s-3xl) var(--s-m);
}

.standards__intro {
    text-align: center;
}

.standards__intro p {
    color: var(--cream);
    font-size: var(--fs-1);
    padding: var(--s-s);
}

.materials {
    position: relative;
}

.material {
    font-weight: 300;
}

.respected {
    text-align: center;
    padding-top: var(--s-2xl);
}

.center__line {
    width: 75%;
    height: 1px;
    border-top: 1px solid var(--accent-darkgold);
    margin: var(--s-m) auto;
}

hr {
    display: flex;
    justify-content: space-between;
    height: 157px;
    border: none;
    position: relative;
}

hr::before,
hr::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 52%;
    height: 100%;
    background-image: url(../assets/img/polyglot_250.avif);
    background-repeat: repeat;
    z-index: 3;
}

hr::before {
    left: 0;
}

hr::after {
    right: 0;
}

.polyglot {
    padding-top: var(--s-xl);
}

.polyglot h3 {
    padding-top: var(--s-s);
    padding-bottom: var(--s-2xl);
}

.about__polyglot {
    padding-right: var(--s-m);
}

.languages__inter {
    margin-top: -1rem;
    background-image: url(../assets/svg/numbers.svg);
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

.languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: var(--letter-s);
    font-size: var(--fs-3);
    padding: var(--s-xs) var(--s-2xl);
    background-color: var(--background-int);
    border: 1px dashed var(--background);
}

.submit__button,
.check {
    text-align: center;
    font-family: "Cinzel", serif;
    font-weight: 600;
    letter-spacing: var(--letter-s);
    font-style: normal;
    font-size: var(--fs-1);
    padding: var(--s-2xs) var(--s-s);
    border-radius: 3rem;
    border: 1px solid var(--text-color);
    background-color: var(--coffee);
    color: var(--cream);
}

.hustles {
    padding: var(--s-xl) var(--s-m);
    position: relative;
    overflow: hidden;
}

.hustles h2 {
    padding-bottom: var(--s-l);
}

.hustles picture {
    position: absolute;
    right: -32%;
    top: 13%;
    z-index: -1;
}

.hustles__spacing {
    padding-top: var(--s-4xl);
}

.interaction__choice {
    white-space: nowrap;
}

.risks {
    padding: var(--s-xl) var(--s-m);
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.risks h3 {
    padding-top: var(--s-m);
    padding-bottom: var(--s-l);
}

.left__press img,
.right__press img {
    transform: scaleX(-1);
    filter: brightness(80%);
}

.left__press {
    position: absolute;
    z-index: -1;
    left: -50%;
    top: -4%;
}

.right__press {
    position: absolute;
    z-index: -2;
    right: -40%;
    top: 8%;
}

.one__risks {
    padding-top: var(--s-6xl);
    padding-bottom: 0;
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-1);
    color: var(--accent-darkgold);
}

.dangerous {
    letter-spacing: var(--letter-s);
    padding-bottom: var(--s-l);
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-3);
}

.dangerous__description {
    padding: 0 var(--s-m);
    padding-top: var(--s-2xl);
    padding-bottom: var(--s-m);
}

.protestants {
    padding: var(--s-3xl) var(--s-m);
}

.protestants h3 {
    padding: 0 var(--s-2xl);
}

.printing__stars {
    position: relative;
    overflow: hidden;
}

.bckgrnd {
    background-color: var(--background);
}

.starline-two {
    position: absolute;
    top: 8%;
    width: 100%;
    z-index: -3;
}

.star__para__one {
    margin-top: var(--s-l);
    margin-bottom: var(--s-5xl);
}

.star__para__two {
    margin-top: var(--s-5xl);
}

.printing__stars h3 {
    padding: 0 var(--s-2xl);
    padding-top: var(--s-4xl);
    padding-bottom: var(--s-l);
    text-align: center;
    white-space: pre-wrap;
    display: inline-block;
}

.divine__will {
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-1);
    padding: 0 var(--s-2xs);
}

.printing__house {
    padding: var(--s-xl) var(--s-m);
}

.today__line {
    width: 60%;
    height: 1px;
    border-bottom: 1px solid var(--text-color);
    margin: 0 auto;
    padding-top: var(--s-xl);
}

.today {
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-3);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--text-color);
    margin: 0 auto;
    padding-top: var(--s-2xs);
}

.museum {
    background-color: var(--background-int);
    color: var(--background);
    padding-top: var(--s-2xl);
    padding-bottom: var(--s-2xl);
    position: relative;
}

.museum h2 {
    padding-top: var(--s-l);
}

.light__highlight {
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: var(--letter-s);
    padding-bottom: var(--s-xs);
}

.interaction__choice {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.interaction__choice p,
.consequences__choice p {
    text-align: center;
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs--1);
    padding: var(--s-3xs) var(--s-2xs);
    border-radius: 3rem;
    border: 1px solid var(--text-color);
    background-color: var(--coffee);
    color: var(--cream);
    margin-top: -0.5rem;
    white-space: pre-wrap;
}

.interaction__choice picture {
    display: flex;
    justify-content: center;
}

.interaction__choice picture img {
    width: 90%;
    height: auto;
    display: block;
}

.holders {
    padding-top: var(--s-l);
    padding-bottom: var(--s-4xl);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(44px, 1fr));
    gap: var(--s-3xs);
}

.holder {
    min-width: 44px;
    min-height: 44px;
    border: 1px dashed var(--background);
}

.positioning {
    position: relative;
}

.metal__letters {
    padding-top: var(--s-l);
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.letter {
    width: 40px;
    height: 40px;
}

.choices {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--coffee);
    gap: var(--s-s);
    padding-top: var(--s-m);
    padding-bottom: var(--s-m);
}

.choices::-webkit-scrollbar {
    height: 8px;
}

.choices::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
}

.choices::-webkit-scrollbar-track {
    background-color: var(--coffee);
}

.consequences__choice {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    min-width: 130px;
    height: auto;
}

.consequences__choice picture {
    width: 100%;
    height: auto;
    /* display: block; */
}

.consequences__choice picture img {
    width: 100%;
    height: auto;
    display: block;
}

.bibles {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: -1rem;
}

.bibles picture {
    margin: -1rem;
}

.dices {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: var(--s-xl) var(--s-xs);
}

.explanation {
    color: var(--background);
    text-align: center;
}

.bottom__corner {
    position: absolute;
    right: 5%;
    bottom: 3%;
}

.top__corner {
    position: absolute;
}

.right__lines {
    position: relative;
}

.right__line {
    position: absolute;
    right: 0;
    width: 50%;
    height: 1px;
    border-top: 1px solid var(--cream);
    margin-top: var(--s-xs);
}

.right__line__small {
    position: absolute;
    right: 0;
    width: 40%;
    height: 1px;
    border-top: 1px solid var(--cream);
    margin-top: var(--s-l);
}

.visit {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fs-1);
    padding: var(--s-2xs) var(--s-l);
    border-radius: 3rem;
    border: 1px solid var(--cream);
    background-color: var(--coffee);
    color: var(--cream);
}

.button__wrapper {
    display: inline-block;
    background-color: var(--coffee);
    /* border: 1px solid var(--accent-gold); */
    outline: 1px solid var(--coffee);
    outline-offset: 2px;
}

.button__position {
    display: flex;
    justify-content: center;
    padding: var(--s-m);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--background);
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

footer {
    padding-top: var(--s-m);
}

.footer__nav {
    display: flex;
}

.footer__logo {
    display: flex;
    justify-content: center;
    padding: var(--s-s);
}

.social__media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__icon {
    display: inline-block;
}

.icon {
    max-width: 60px;
}

.nav__menu {
    display: flex;
    position: static;
    gap: 1rem;
    background: none;
    box-shadow: none;
    padding: 0;
}

.nav__menu__list {
    display: flex;
    flex-direction: column;
}

.hamburger {
    display: none;
}

.js-enabled .hamburger {
    background-color: var(--background);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34px;
    width: 40px;
}

.hamburger .line {
    background-color: var(--background);
    height: 3px;
    width: 100%;
    border-radius: 2px;
}

.js-enabled .nav__menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    right: 1rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.nav__menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__menu__list li {
    padding: var(--s-2xs);
}

.nav__menu__list li a {
    padding: var(--s-2xs);
}

.nav__menu__list li a:hover {
    color: var(--accent-gold);
    border-bottom: 1px solid #DBB78B;
    font-weight: 500;
}


.js-enabled .nav__menu.active {
    display: flex;
    background-color: var(--background);
    color: var(--cream);
    font-size: var(--fs-1);
    border: 1px solid var(--cream);
    outline-offset: 3px;
    outline: 1px solid var(--cream);
}

dialog {
    width: 80vw;
    padding: var(--s-s);
    border: 1px solid var(--cream);
    text-align: center;
    background-color: var(--background);
    outline-offset: -5px;
    outline: 1px solid var(--cream);
}

.message,
.answ__msg {
    margin: var(--s-xs) 0;
    color: var(--accent-darkgold);
}

.result {
    color: var(--text-color);
}

.popup__close {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transform: scale(3);
    transition: transform 0.3s ease;
}

.svg__color {
    fill: var(--accent-darkgold);
}

.popup__close:hover {
    transform: scale(3.2);
}

.explain__style {
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-style: normal;
    padding: var(--s-2xs);
    font-size: var(--fs-2);
    border-radius: 3rem;
    border: 1px solid var(--accent-darkgold);
    background-color: var(--coffee);
    color: var(--cream);
    text-align: center;
}

.check {
    display: flex;
    /* Default state */
    justify-content: center;
    margin: var(--s-s) 0;
}

.feedback {
    padding: var(--s-2xs);
    font-size: var(--fs-1);
    border-radius: 3rem;
    color: var(--coffee);
    text-align: center;
}

.feedback__right {
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-style: normal;
}





@media (min-width: 950px) {
    .js-enabled .hamburger {
        display: none;
    }

    .js-enabled .nav__menu {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 1rem;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .nav__menu__list {
        display: flex;
        flex-direction: row;
    }

}